extends layout

block content
    .jumbotron
        h1 Cannondale 2015
        p
            | 这是一个非官方的Canondale自行车介绍网站，提供顶级Cannondale自行车信息，供广大车友参考鉴赏。另外附上各款山地车价格以及折人民币价格。
        p
            | 部分图片和资料来自Cannondale官方网站
    //end jumbotron
    .row
        - for( var i = 0; i < bikes.length; i++)
            //获取详情地址
            - var url = '/bike/' + bikes[i].name
            .col-6.col-sm-6.col-lg-4
                div.panel.panel-green
                    div.panel-heading
                        h6= bikes[i].name
                    div.panel-body
                        img.img-thumbnail( src= '/images/bikes_min/' + bikes[i].picurl, width='700px', height='400px')
                    a( href = url)
                        div.panel-footer
                            -var cny = bikes[i].price.cny || ('¥ ' + parseFloat( bikes[i].price.usd.match( /\d+/)[0]) * 6.12)
                            h5.pull-left= cny
                            h5.pull-right 详情 »
                            div.clearfix
