extends layout

block content
    include alert.jade
    h2 自行车列表
    - for( var i = 0; i < bikes.length; i++)
        .row
            //车名
            h4= bikes[i].name
            p= bikes[i].features.h1_value
        .row
            .col-xs-1
                a.btn.btn-lg.btn-success(href="/edit/"+bikes[i].name) 编辑
            .col-xs-1
                a.btn.btn-lg.btn-danger(href="/del/"+bikes[i].name) 删除
